body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.abertura {
  position: fixed;
  background: rgb(46, 48, 75);
  top: 0;
  left: 0;
  width: 48%;
  height: 100%;
}

.container {
  width: 50%;
  margin-left: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre_mim,
.empres_projetos,
.retorno_clientes,
.projetos,
.contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(255, 25, 140, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
}

.saudacao,
.apresenta,
.botao_contato,
.socialweb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30px;
  padding: 50px;
  background: #2e304b;
  color: #fd8e8e;
  margin-bottom: 20px;
}

.menu button {
  background: none;
  border: none;
  cursor: pointer;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: #2e304b;
  color: #fd8e8e;
  border-radius: 55px;
  border: 2px solid #fd8e8e;
  font-size: large;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #fd8e8e;
  color: #2e304b;
}

img {
  max-width: 100%;
  height: auto;
}

.caixinhas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;
}

.caixinha {
  background: #747070;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(228, 122, 205, 0.1);
  text-align: center;
}

.caixinha:hover {
  background: #d0d0d0;
}

.recomendacao {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 16px;
  padding: 20px;
  width: 100%; /* Garante que o carrossel ocupe toda a largura do contêiner */
}

.card {
  flex: none;
  scroll-snap-align: start;
  width: 380px;
  height: 510px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }

  .caixinha {
    width: 100%;
  }
}
